// _layout.scss

@mixin card-estilo {
    background-color: $color-card;
    color: $color-blanco;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
    transition: transform 0.2s;
  }
  
  .titulo-seccion {
    font-size: 5vh;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .inicio,
  .tecnologia,
  .valores,
  .beneficios,
  .contacto {
    background-color: $color-fondo;
  }
  
  .logo-red-social {
    border-radius: 100%;
    object-fit: cover;
    background-color: black;
  }
  
  .inicio {
    padding: 0px 50px;
    background-image: url('../media/fondo-inicio.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-blanco;
  
    h1 {
      @extend .titulo-seccion;
      width: 60vw;
    }
  
    h3 {
      font-size: 3vh;
    }
  }
  
  .texto-dorado {
    color: $color-dorado;
  }
  
  .nav-link:hover {
    color: gold !important;
  }
  
  .tecnologia,
  .valores,
  .beneficios,
  .contacto {
    h1 {
      @extend .titulo-seccion;
    }
  }
  
  .tecnologia,
  .valores,
  .beneficios {
    h2 {
      font-size: 5vh;
    }
  
    h3 {
      font-size: 3vh;
    }
  
    h1 + p {
      font-size: 2.3vh;
      width: 72vw;
    }
  }
  
  .card {
    background-color: $color-card-base;
    color: $color-blanco;
    border-color: $color-borde;
  }
  
  .beneficios,
  .valores {
    min-height: 100vh;
    padding-top: 7rem;
    padding-bottom: 3rem;
    color: $color-blanco;
  }
  
  .contenedor {
    max-width: $max-width-contenedor;
    margin: 0 auto;
    padding: 0 2rem;
  }
  
  .intro {
    margin-bottom: 3rem;
  }
  
  .seccion-beneficios h2,
  .seccion-valores h2 {
    margin-bottom: 2rem;
  }
  
  .grid-beneficios,
  .grid-valores {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  
  .beneficio-card {
    @include card-estilo;
  
    h5 {
      margin-top: 0;
      margin-bottom: 1rem;
      color: $color-titulo-card;
    }
  }
  
  .valor-card {
    @include card-estilo;
  
    h5 {
      margin-top: 0;
      margin-bottom: 1rem;
      color: $color-titulo-card;
    }
  }
  
  // Media queries

  @media (min-width: 767px) {

    .titulo-seccion {              
        font-size: 10vh;
      }

    .cards {
      padding-inline: 5vw;
    }
  
    .beneficios h1,
    .valores h1 {
      font-size: 6vh;
    }
  
    .grid-beneficios,
    .grid-valores {
      grid-template-columns: repeat(2, 1fr);
    }
  }  
  
  @media (max-width: 767px) {
  
      h3 {
        font-size: 2vh;
        font-weight: normal;
      }
    
  
    .beneficios h1,
    .valores h1 {
      font-size: 6vh;
    }
  }
  
